<div class="user_data flex-row">
  <img class="user_img" src=<%= get_photo(user) %> >
  <div class="user-info flex-row">
    <div class="">
      <h2 id="username"><%= user.name %></h2>
    </div>
    <% if request.fullpath == '/' || request.fullpath == '/users' %>
      <%= link_to 'Profile', "/users/#{user.id}" %>
    <% end %>
    <div class="number_posts">
      Number of posts: <%= user.posts_counter %>
    </div>
  </div>
</div>