<%= render partial: 'users/user', object: @user %>
<% @posts.each do |post| %>
  <%= render partial: 'posts/post', object: post %>
  <div class="comments_container">
    <%= render partial: 'shared/comment', :locals => { :user => @user, :comments => post.recent_comments }  %>
  </div>
<% end %> 
